# Análises estatísticas sobre o conjunto de dados

## Importação de módulos

In [1]:
#importação de módulos
#@import
import pandas as pd
import numpy as np
import time

#Para plotagens
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

In [2]:
## Base de dados de escpectros
#base de dados contendo todos os dados
dados= pd.read_excel('A_dados.xlsx',sheet_name='todos')
dados_back = dados.copy()

In [3]:
dados = dados_back.copy()

In [10]:
dados.head()

,descricao,1100nm,1102nm,1104nm,1106nm,1108nm,1110nm,1112nm,1114nm,1116nm,...,cmcase,fpase,xilanase,proteinas,eenz,temp,dur,inter,proc,experimento
0,exp2_p0_t1,0.033690,0.034025,0.034302,0.034534,0.034730,0.034908,0.035092,0.035302,0.035555,...,114.800334,50.343581,575.54899,113.040397,celluclast,70,30,0,des,cell2
1,exp2_p0_t2,0.034158,0.033989,0.033937,0.034027,0.034259,0.034608,0.035037,0.035511,0.036002,...,114.800334,50.343581,575.54899,113.040397,celluclast,70,30,0,des,cell2
2,exp2_p0_t3,0.033267,0.033650,0.033960,0.034240,0.034516,0.034807,0.035128,0.035488,0.035893,...,114.800334,50.343581,575.54899,113.040397,celluclast,70,30,0,des,cell2
3,exp2_p1_t1_1,0.033680,0.033531,0.033564,0.033741,0.034018,0.034357,0.034727,0.035112,0.035514,...,90.505314,57.640572,484.13796,68.981810,celluclast,70,30,5,des,cell2
4,exp2_p1_t1_2,0.033632,0.033577,0.033613,0.033735,0.033932,0.034204,0.034556,0.034982,0.035460,...,90.505314,57.640572,484.13796,68.981810,celluclast,70,30,5,des,cell2

In [4]:
print('Total de amostras na base de dados:',dados.shape)
1
print('Total de amostras na base de dados:',dados.shape)

Total de amostras na base de dados: (1391, 713)
Total de amostras na base de dados: (1391, 713)

In [5]:
celluclast = dados[(dados['eenz'] == 'celluclast')] 
celic = dados[(dados['eenz'] == 'ctec2')] 
eeta = dados[(dados['eenz'] == 'eeta')] 
print('Total de amostras:\nCelluclast = %d \nCtec2=%d \nEETA= %d\n'%(celluclast.shape[0], celic.shape[0],eeta.shape[0]))

Total de amostras:
Celluclast = 752
Ctec2=492
EETA= 147

In [6]:
dados= dados.loc[(dados['betaglicosidase'].notnull()) 
                         & (dados['cmcase'].notnull()) 
                         & (dados['fpase'].notnull())
                         &(dados['xilanase'].notnull())]

In [9]:

dados_t0 = dados[dados['inter'] == 0]
celluclast_t0 = dados[(dados['eenz'] == 'celluclast')] 
celic_t0 = dados[(dados['eenz'] == 'ctec2')] 
eeta_t0 = dados[(dados['eenz'] == 'eeta')]

In [10]:
celluclast_t0.describe()

,1100nm,1102nm,1104nm,1106nm,1108nm,1110nm,1112nm,1114nm,1116nm,1118nm,...,2498nm,2500nm,betaglicosidase,cmcase,fpase,xilanase,proteinas,temp,dur,inter
count,752.000000,752.000000,752.000000,752.000000,752.000000,752.000000,752.000000,752.000000,752.000000,752.000000,...,710.000000,710.000000,752.000000,752.000000,752.000000,752.000000,578.000000,752.000000,752.000000,752.000000
mean,0.050319,0.048802,0.047747,0.046955,0.046318,0.045785,0.045346,0.045012,0.044798,0.044715,...,2.575778,2.574195,165.375919,83.623867,26.143360,444.074959,29.984235,74.514628,16.642287,8.643617
std,0.007743,0.006931,0.006363,0.005927,0.005559,0.005228,0.004925,0.004647,0.004397,0.004176,...,0.072729,0.073706,141.003639,20.409017,13.091611,263.274936,25.364688,6.122130,6.782406,6.780414
min,0.033267,0.033531,0.033564,0.033735,0.033932,0.034204,0.034556,0.034971,0.035452,0.035871,...,2.317629,2.314232,2.376939,50.727680,2.651611,19.410000,0.124549,70.000000,10.000000,0.000000
25%,0.043293,0.042562,0.041937,0.041496,0.041236,0.041110,0.040991,0.040954,0.040925,0.041072,...,2.527642,2.526009,96.873941,69.604382,16.432073,241.291201,5.907712,70.000000,10.000000,4.000000
50%,0.051487,0.049897,0.048794,0.047982,0.047309,0.046650,0.046087,0.045709,0.045455,0.045240,...,2.575904,2.573898,134.636993,79.695070,22.396891,361.399462,22.440393,70.000000,15.000000,8.000000
75%,0.057210,0.054681,0.053004,0.051756,0.050821,0.049978,0.049271,0.048646,0.048191,0.047899,...,2.624848,2.624147,210.680362,93.121230,36.123808,670.810971,52.741636,80.000000,20.000000,12.000000
max,0.062404,0.059813,0.058226,0.057000,0.055972,0.055062,0.054247,0.053533,0.052945,0.052612,...,2.796527,2.804434,929.796742,186.057007,81.306000,1102.154766,113.040397,100.000000,30.000000,30.000000

## Conjunto de dados tubo-micoplaca

In [110]:
## Base de dados para avaliar tubo e microplaca
cellu= pd.read_excel('tubo_micro.xlsx',sheet_name='celluclast')
celic= pd.read_excel('tubo_micro.xlsx',sheet_name='celic_2')

In [111]:
celic

    dil        micro         tubo      trat
0     1  2428.800000  2698.716779      beta
1     2  1045.510000  1243.730000      beta
2     3   551.480000   600.560000      beta
3     4   686.250000   547.340000      beta
4     1   205.904880   377.709528    cmcase
5     2   117.410405   285.853189    cmcase
6     3    79.671347   253.948888    cmcase
7     4    67.683857   233.731144    cmcase
8     5    16.037156   223.446973    cmcase
9     1   119.566838    96.051268     fpase
10    2    55.295587    66.277241     fpase
11    3    35.770000    47.606681     fpase
12    4    29.659666    34.546602     fpase
13    5    29.268856    36.709697     fpase
14    1  3143.388600  3310.771500  xilanase
15    2  1475.639000  1919.941800  xilanase
16    3   863.724300  1323.871900  xilanase
17    4   582.247200  1143.377000  xilanase
18    5   490.150600  1064.774400  xilanase

In [102]:
cellu

    dil       micro        tubo      trat
0   1.0  155.946559  112.716623      beta
1   1.2  115.166939   79.988885      beta
2   1.6   98.566386   61.640180      beta
3   1.8   91.493107   60.802138      beta
4   2.0   89.327817   54.891738      beta
5   1.0   41.936829  128.062032    cmcase
6   1.2   36.049722  118.533945    cmcase
7   1.6   32.457297  105.489540    cmcase
8   1.8   32.732316   95.110730    cmcase
9   2.0   31.004858   91.310838    cmcase
10  1.0   46.154345   52.851524     fpase
11  1.2   31.984596   45.067191     fpase
12  1.4   29.510594   36.627335     fpase
13  1.6   26.413021   39.495247     fpase
14  1.0  809.593373  652.011365  xilanase
15  1.2  721.600301  547.704501  xilanase
16  1.6  657.902660  502.716714  xilanase
17  2.0  610.168365  503.256734  xilanase

In [112]:
cellu.describe()

             dil       micro        tubo
count  18.000000   18.000000   18.000000
mean    1.455556  203.222727  182.682070
std     0.368179  277.850356  206.751011
min     1.000000   26.413021   36.627335
25%     1.200000   32.526052   56.369338
50%     1.500000   67.741081   93.210784
75%     1.750000  145.751654  125.680011
max     2.000000  809.593373  652.011365

In [113]:
celic.describe()

             dil        micro         tubo
count  19.000000    19.000000    19.000000
mean    2.894737   632.813594   816.261294
std     1.410072   870.186473   945.273345
min     1.000000    16.037156    34.546602
25%     2.000000    61.489722   159.749121
50%     3.000000   205.904880   377.709528
75%     4.000000   774.987150  1193.553500
max     5.000000  3143.388600  3310.771500

In [114]:
cellu['micro'].corr(cellu['tubo'])

0.984040558056127

In [115]:
celic['micro'].corr(celic['tubo'])

0.9785588741984719

In [116]:
from scipy import stats
#teste t de student

stats.ttest_ind(cellu['micro'].values,cellu['tubo'].values, equal_var=False)

Ttest_indResult(statistic=0.25162642407720615, pvalue=0.8029689998548508)

In [18]:
#Como p-valor é maior que 0,05 não se pode rejeitar a hipótese nula , portanto as médias são equivalentes

In [117]:

stats.ttest_ind(celic['micro'].values,celic['tubo'].values, equal_var=False)

Ttest_indResult(statistic=-0.6223666151073901, pvalue=0.5376498139007453)

2.347262798783813

In [20]:
cellu_sep = pd.read_excel('tubo_micro.xlsx',sheet_name='celluclast_sep')
celic_seṕ = pd.read_excel('tubo_micro.xlsx',sheet_name='celic_sep')

In [118]:
var = ['fpase', 'cmcase','beta','xilanase']

In [119]:
var_ae_celic = {}
for i in range(4):
    var_ae_celic[var[i]]= celic.loc[celic['trat'] == var[i]]

In [120]:
cor_celic = {}
for i in range(4):
    print('correlação celic:',var[i])
    print(var_ae_celic[var[i]].corr())
    cor_celic[var[i]] = var_ae_celic[var[i]].corr()['micro']['tubo']

correlação celic: fpase
            dil     micro      tubo
dil    1.000000 -0.853608 -0.930636
micro -0.853608  1.000000  0.971027
tubo  -0.930636  0.971027  1.000000
correlação celic: cmcase
            dil     micro      tubo
dil    1.000000 -0.960523 -0.916903
micro -0.960523  1.000000  0.975511
tubo  -0.916903  0.975511  1.000000
correlação celic: beta
            dil     micro      tubo
dil    1.000000 -0.859379 -0.914388
micro -0.859379  1.000000  0.992812
tubo  -0.914388  0.992812  1.000000
correlação celic: xilanase
            dil     micro      tubo
dil    1.000000 -0.895837 -0.892596
micro -0.895837  1.000000  0.999529
tubo  -0.892596  0.999529  1.000000

In [121]:
print('Correlação:celic:')
cor_celic

Correlação:celic:

{'fpase': 0.9710268209404298,
 'cmcase': 0.9755113464266026,
 'beta': 0.9928122515788474,
 'xilanase': 0.9995290649423043}

In [43]:
cor_celic.values()

dict_values([0.96031916712696, 0.9722972624359791, 0.9461571202948358, 0.9897677533681205])

In [122]:
var_ae_cellu = {}
for i in range(4):
    var_ae_cellu[var[i]] = cellu.loc[cellu['trat'] == var[i]]

In [123]:
cor_cellu={}
for i in range(4):
    print('correlação celluclast:',var[i])
    print(var_ae_cellu[var[i]].corr())
    cor_cellu[var[i]] = var_ae_cellu[var[i]].corr()['micro']['tubo']

correlação celluclast: fpase
            dil     micro      tubo
dil    1.000000 -0.912531 -0.876407
micro -0.912531  1.000000  0.917949
tubo  -0.876407  0.917949  1.000000
correlação celluclast: cmcase
            dil     micro      tubo
dil    1.000000 -0.922462 -0.994987
micro -0.922462  1.000000  0.928019
tubo  -0.994987  0.928019  1.000000
correlação celluclast: beta
            dil     micro      tubo
dil    1.000000 -0.909111 -0.917300
micro -0.909111  1.000000  0.995867
tubo  -0.917300  0.995867  1.000000
correlação celluclast: xilanase
            dil     micro      tubo
dil    1.000000 -0.962407 -0.835451
micro -0.962407  1.000000  0.952235
tubo  -0.835451  0.952235  1.000000

In [124]:
print('Correlação:celluclast:')
cor_cellu

Correlação:celluclast:

{'fpase': 0.917948951456712,
 'cmcase': 0.9280190125107712,
 'beta': 0.9958671938594206,
 'xilanase': 0.9522352274238552}

In [47]:
cor_cellu.values()

dict_values([0.917948951456712, 0.9280190125107712, 0.9958671938594206, 0.9522352274238552])

In [48]:
#teste de normalidade dos dados:
import scipy.stats as stats

In [125]:
print('Celic Ctec2')
for i in range(4):
    shapiro,p_valor =  stats.shapiro(var_ae_celic[var[i]]['micro'])
    print('\n%s:\nmicro'%var[i])
    print('Estatística - Shapiro-Wilk:',shapiro)
    print('P-value:',p_valor)
    shapiro,p_valor =  stats.shapiro(var_ae_celic[var[i]]['tubo'])
    print('\n%s: \nTubo'%var[i])
    print('Estatística - Shapiro-Wilk:',shapiro)
    print('P-value:',p_valor)

Celic Ctec2

fpase:
micro
Estatística - Shapiro-Wilk: 0.7508649230003357
P-value: 0.03031652420759201

fpase:
Tubo
Estatística - Shapiro-Wilk: 0.8825424909591675
P-value: 0.320991575717926

cmcase:
micro
Estatística - Shapiro-Wilk: 0.9553316235542297
P-value: 0.775160014629364

cmcase:
Tubo
Estatística - Shapiro-Wilk: 0.8564480543136597
P-value: 0.21577411890029907

beta:
micro
Estatística - Shapiro-Wilk: 0.8222466707229614
P-value: 0.14847086369991302

beta:
Tubo
Estatística - Shapiro-Wilk: 0.83456951379776
P-value: 0.1800326108932495

xilanase:
micro
Estatística - Shapiro-Wilk: 0.8177446722984314
P-value: 0.11216706037521362

xilanase:
Tubo
Estatística - Shapiro-Wilk: 0.8103132843971252
P-value: 0.09807640314102173

In [126]:
print('Celluclast')
for i in range(4):
    shapiro,p_valor =  stats.shapiro(var_ae_cellu[var[i]]['micro'])
    print('\n%s:\nmicro'%var[i])
    print('Estatística - Shapiro-Wilk:',shapiro)
    print('P-value:',p_valor)
    shapiro,p_valor =  stats.shapiro(var_ae_cellu[var[i]]['tubo'])
    print('\n%s: \nTubo'%var[i])
    print('Estatística - Shapiro-Wilk:',shapiro)
    print('P-value:',p_valor)

Celluclast

fpase:
micro
Estatística - Shapiro-Wilk: 0.8549429178237915
P-value: 0.24257373809814453

fpase:
Tubo
Estatística - Shapiro-Wilk: 0.9522038102149963
P-value: 0.7299044132232666

cmcase:
micro
Estatística - Shapiro-Wilk: 0.8628624081611633
P-value: 0.23870879411697388

cmcase:
Tubo
Estatística - Shapiro-Wilk: 0.9386098980903625
P-value: 0.6561275124549866

beta:
micro
Estatística - Shapiro-Wilk: 0.8225423097610474
P-value: 0.12214270979166031

beta:
Tubo
Estatística - Shapiro-Wilk: 0.8327537178993225
P-value: 0.1458667814731598

xilanase:
micro
Estatística - Shapiro-Wilk: 0.9768060445785522
P-value: 0.883054256439209

xilanase:
Tubo
Estatística - Shapiro-Wilk: 0.8162092566490173
P-value: 0.13461047410964966

In [53]:
#como cmcase no celic micro não seguem uma distribuição normal, para testar a normalidade terei que utilizar wilcox
var_ae_celic['cmcase']['micro'] = np.log(var_ae_celic['cmcase']['micro'])

In [54]:
var_ae_celic['cmcase']['micro']

4    4.748954
5    4.302072
6    4.290877
7    4.246564
Name: micro, dtype: float64

In [55]:
shapiro,p_valor =  stats.shapiro(var_ae_celic['cmcase']['micro'])

In [65]:
var_ae_cellu['beta']['micro'].v

array([155.94655873, 115.16693901,  98.56638585,  91.49310668,
        89.32781714])

In [127]:
#teste de comparação de médias t de student
var = ['fpase', 'cmcase','beta','xilanase']
print('Teste de médias:celluclast')
for i in range(4):
    t,p = stats.ttest_ind(var_ae_cellu[var[i]]['micro'].values,
                                     var_ae_cellu[var[i]]['tubo'].values, equal_var=False)
    print(var[i])
    print('Estatística - teste T:',t)
    print('P-value:',p)

Teste de médias:celluclast
fpase
Estatística - teste T: -1.772034032739315
P-value: 0.12869151377643995
cmcase
Estatística - teste T: -10.101559538464954
P-value: 0.00024965662789649257
beta
Estatística - teste T: 2.2244393082457274
P-value: 0.05756319694778287
xilanase
Estatística - teste T: 2.6672695313294397
P-value: 0.03862966587462405

In [128]:
#teste de comparação de médias t de student
var = ['fpase', 'cmcase','beta','xilanase']
print('Teste de médias:celic')
for i in range(4):
    t,p = stats.ttest_ind(var_ae_celic[var[i]]['micro'].values,
                                     var_ae_celic[var[i]]['tubo'].values, equal_var=False)
    print(var[i])
    print('Estatística - teste T:',t)
    print('P-value:',p)

Teste de médias:celic
fpase
Estatística - teste T: -0.11317072698602439
P-value: 0.9130800999672397
cmcase
Estatística - teste T: -4.217622667575336
P-value: 0.003033029850249825
beta
Estatística - teste T: -0.14327771321594332
P-value: 0.8908670266090972
xilanase
Estatística - teste T: -0.6864584045416882
P-value: 0.5122959665476494

### Estatística básica para análise de atividade enzimática geral para cada complexo enzimático

In [ ]:
## Complexo celic:

In [11]:
celluclast = dados[(dados['eenz'] == 'celluclast')] 
celic = dados[(dados['eenz'] == 'ctec2')] 
eeta = dados[(dados['eenz'] == 'eeta')] 
print('Total de amostras:\nCelluclast = %d \nCtec2=%d \nEETA= %d\n'%(celluclast.shape[0], celic.shape[0],eeta.shape[0]))

Total de amostras:
Celluclast = 752
Ctec2=42
EETA= 114

In [12]:
celluclast.describe()

,1100nm,1102nm,1104nm,1106nm,1108nm,1110nm,1112nm,1114nm,1116nm,1118nm,...,2498nm,2500nm,betaglicosidase,cmcase,fpase,xilanase,proteinas,temp,dur,inter
count,752.000000,752.000000,752.000000,752.000000,752.000000,752.000000,752.000000,752.000000,752.000000,752.000000,...,710.000000,710.000000,752.000000,752.000000,752.000000,752.000000,578.000000,752.000000,752.000000,752.000000
mean,0.050319,0.048802,0.047747,0.046955,0.046318,0.045785,0.045346,0.045012,0.044798,0.044715,...,2.575778,2.574195,165.375919,83.623867,26.143360,444.074959,29.984235,74.514628,16.642287,8.643617
std,0.007743,0.006931,0.006363,0.005927,0.005559,0.005228,0.004925,0.004647,0.004397,0.004176,...,0.072729,0.073706,141.003639,20.409017,13.091611,263.274936,25.364688,6.122130,6.782406,6.780414
min,0.033267,0.033531,0.033564,0.033735,0.033932,0.034204,0.034556,0.034971,0.035452,0.035871,...,2.317629,2.314232,2.376939,50.727680,2.651611,19.410000,0.124549,70.000000,10.000000,0.000000
25%,0.043293,0.042562,0.041937,0.041496,0.041236,0.041110,0.040991,0.040954,0.040925,0.041072,...,2.527642,2.526009,96.873941,69.604382,16.432073,241.291201,5.907712,70.000000,10.000000,4.000000
50%,0.051487,0.049897,0.048794,0.047982,0.047309,0.046650,0.046087,0.045709,0.045455,0.045240,...,2.575904,2.573898,134.636993,79.695070,22.396891,361.399462,22.440393,70.000000,15.000000,8.000000
75%,0.057210,0.054681,0.053004,0.051756,0.050821,0.049978,0.049271,0.048646,0.048191,0.047899,...,2.624848,2.624147,210.680362,93.121230,36.123808,670.810971,52.741636,80.000000,20.000000,12.000000
max,0.062404,0.059813,0.058226,0.057000,0.055972,0.055062,0.054247,0.053533,0.052945,0.052612,...,2.796527,2.804434,929.796742,186.057007,81.306000,1102.154766,113.040397,100.000000,30.000000,30.000000

In [105]:
def calculaCV(ee,titulo):
    temp = ee.describe()
    var=['betaglicosidase', 'cmcase','fpase', 'xilanase']
    cv = {}
    mini = {}
    maxi = {}
    for valor in var:
        cv[valor] = (temp[:][valor]['std']/temp[:][valor]['mean'])*100
        mini[valor] = temp[:][valor]['min']
        maxi[valor] = temp[:][valor]['max']

    print(titulo,'\n\tEnzima','\t\tMin','\tMáx','\tCV:')
    for valor in var:
         print('%15s %10.2f %10.2f %10.2f'%(valor,mini[valor], maxi[valor], cv[valor]))

In [106]:
calculaCV(celluclast,'celluclast')

celluclast
	Enzima 		Min 	Máx 	CV:
betaglicosidase       2.38     929.80      85.26
         cmcase      50.73     186.06      24.41
          fpase       2.65      81.31      50.08
       xilanase      19.41    1102.15      59.29

In [13]:
celic.describe()

,1100nm,1102nm,1104nm,1106nm,1108nm,1110nm,1112nm,1114nm,1116nm,1118nm,...,2498nm,2500nm,betaglicosidase,cmcase,fpase,xilanase,proteinas,temp,dur,inter
count,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,...,0.0,0.0,42.000000,42.000000,42.000000,42.000000,0.0,42.000000,42.000000,42.000000
mean,0.058979,0.056566,0.054893,0.053637,0.052621,0.051757,0.051015,0.050404,0.049945,0.049647,...,NaN,NaN,1572.493361,196.699996,76.653143,1413.078685,NaN,76.428571,26.785714,15.000000
std,0.004007,0.003594,0.003353,0.003200,0.003080,0.002970,0.002866,0.002780,0.002719,0.002683,...,NaN,NaN,868.415108,67.362336,44.205533,853.901226,NaN,12.458992,6.229496,8.511112
min,0.050348,0.048936,0.047870,0.047012,0.046269,0.045658,0.045124,0.044689,0.044370,0.044184,...,NaN,NaN,122.123000,88.780000,20.796000,359.488000,NaN,70.000000,15.000000,0.000000
25%,0.059163,0.057274,0.055681,0.054228,0.053032,0.052199,0.051479,0.050890,0.050449,0.050200,...,NaN,NaN,1411.920040,158.628998,49.382999,890.455994,NaN,70.000000,30.000000,9.000000
50%,0.060780,0.058114,0.056367,0.055085,0.053963,0.053018,0.052316,0.051654,0.051100,0.050700,...,NaN,NaN,1659.697025,200.709496,57.611000,1173.519470,NaN,70.000000,30.000000,15.000000
75%,0.061325,0.058847,0.057020,0.055509,0.054409,0.053480,0.052703,0.052085,0.051606,0.051297,...,NaN,NaN,2397.500980,251.690002,112.615997,1917.360960,NaN,70.000000,30.000000,21.000000
max,0.063443,0.059705,0.057594,0.056358,0.055605,0.054790,0.053963,0.053212,0.052625,0.052242,...,NaN,NaN,2918.568120,287.959991,163.328003,2961.144040,NaN,100.000000,30.000000,30.000000

In [107]:
calculaCV(celic,'celic')

celic
	Enzima 		Min 	Máx 	CV:
betaglicosidase     122.12    2918.57      40.96
         cmcase      16.04     287.96      46.69
          fpase      20.80     163.33      61.07
       xilanase     359.49    3186.50      63.05

In [8]:
eeta.describe()

,1100nm,1102nm,1104nm,1106nm,1108nm,1110nm,1112nm,1114nm,1116nm,1118nm,...,2492nm,2494nm,2496nm,2498nm,2500nm,betaglicosidase,cmcase,fpase,xilanase,proteinas
count,192.000000,192.000000,192.000000,192.000000,192.000000,192.000000,192.000000,192.000000,192.000000,192.000000,...,192.000000,192.000000,45.000000,45.000000,45.000000,162.000000,159.000000,159.000000,189.000000,0.0
mean,21.485058,21.497936,21.504124,21.504603,21.500039,21.491084,21.478471,21.462821,21.444480,21.423652,...,2.070542,2.065195,0.267182,0.269960,0.270944,2.210430,0.063557,0.039229,10.866339,NaN
std,38.866012,38.887734,38.898104,38.898506,38.889943,38.873469,38.850331,38.821598,38.787865,38.749482,...,1.006972,1.001595,0.034733,0.037553,0.038730,1.443993,0.041360,0.025905,11.879365,NaN
min,0.034141,0.034316,0.034365,0.034483,0.034698,0.035024,0.035381,0.035754,0.036137,0.036536,...,0.181371,0.181166,0.182378,0.183711,0.184244,0.030827,0.011206,0.004200,0.072595,NaN
25%,0.037982,0.037848,0.037861,0.037834,0.037836,0.038043,0.038194,0.038420,0.038690,0.039054,...,2.459663,2.448576,0.244056,0.251849,0.249235,0.590459,0.035000,0.012128,1.224400,NaN
50%,0.044292,0.043578,0.043105,0.042772,0.042501,0.042303,0.042111,0.042108,0.042264,0.042476,...,2.616332,2.602274,0.266254,0.269540,0.269875,2.592000,0.055000,0.041900,10.097754,NaN
75%,0.061462,0.058800,0.056828,0.055322,0.054005,0.052951,0.052192,0.051489,0.050867,0.050432,...,2.664904,2.658538,0.294470,0.295691,0.294036,3.445000,0.072961,0.059000,17.361999,NaN
max,93.715312,93.438667,93.251173,93.106018,92.967814,92.815489,92.642902,92.455182,92.262751,92.076175,...,2.760350,2.768873,0.371158,0.385568,0.390836,4.951000,0.180500,0.091917,61.380000,NaN

In [108]:
calculaCV(eeta,'EETA')

EETA
	Enzima 		Min 	Máx 	CV:
betaglicosidase       0.03       4.95      65.33
         cmcase       0.01       0.18      65.08
          fpase       0.00       0.09      66.03
       xilanase       0.07      61.38     109.32